# Bytecode Python
__pycache__/
*.py[cod]

# Environment / venv
.env
.venv/
*.env

# OS/system files
.DS_Store
Thumbs.db

# Backup / sementara
*.bak
*.swp
*.swo

# Storage runtime
storage/data/
lib/data/
lib/data.bak/

# Logs
*.log

# IDE/editor settings
.vscode/
.idea/

# Jupyter notebook checkpoints 
.ipynb_checkpoints/
