{% extends "base.html" %}
{% block title %}Mempool{% endblock %}

{% block content %}
<h2>Mempool (Pending Transactions)</h2>
<table border="1">
<tr><th>TXID</th><th>From</th><th>To</th><th>Amount(WCN)</th><th>Fee(WCN)</th><th>Time</th></tr>
{% for tx in txs %}
<tr>
    <td>{{ tx.txid[:8] }}...</td>
    <td>{{ tx.from_display }}</td>
    <td>{{ tx.to_display }}</td>
    <td>{{ tx.value_wcn }}</td>
    <td>{{ tx.fee_wcn }}</td>
    <td>{{ format_time(tx.timestamp) }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}
